@page
@model RegisterModel
@{ ViewData["Title"] = "Register"; }


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/login_proStore.css" />
    <style>
        .brr {
            display: block;
            margin-top: 15px;
            content: "";
        }
    </style>
</head>
<body>

    @*<div class="container">
                <div class="forms-container">
                    <div class="signin-signup">
                        register form
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="sign-up-form">
                            <h2 class="title">إنشاء حساب</h2>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="اسم المستخدم" id="register_user" />
                                <label asp-for="Input.FirstName"></label>
                                <input asp-for="Input.FirstName" class="form-control" maxlength="100" id="register_user" type="text" />
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                                <input type="email" placeholder="البريد الإلكتروني" id="email" />
                            </div>
                            <div class="input-field">
                                <i class="fas fa-phone-alt"></i>
                                <input type="tel" id="phone" name="phone" placeholder="رقم الهاتف" pattern="^01[0-2]\d{1,8}$" required>
                            </div>
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="الرقم السري" id="register_password" />
                            </div>

                            seller or buyer or both
                            <p class="choice_text">
                                :اختر ماذا تريد أن تكون
                            </p>
                            <div class="choice_container">
                                <label class="choice">
                                    بائع
                                    <input type="radio" checked="checked" name="radio">
                                    <span class="checkmark"></span>

                                </label>
                                <label class="choice">
                                    مشتري

                                    <input type="radio" name="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="choice">
                                    كليهما
                                    <input type="radio" name="radio">
                                    <span class="checkmark"></span>

                                </label>

                            </div>


                            sign_up button

                            <input type="submit" class="btn" value="إنشاء" id="sign_up" />
                            <p class="social-text">أو أنشئ حسابك عن طريق حسابك علي مواقع التواصل الإجتماعي</p>
                            <div class="social-media">
                                <a href="#" class="social-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-google"></i>
                                </a>
                                <a href="#" class="social-icon">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </form>






                        <div class="row">
                            <div class="col-md-4">
                                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <h4>Create a new account.</h4>
                                    <hr />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Input.FirstName"></label>
                                        <input asp-for="Input.FirstName" class="form-control" maxlength="100" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.LastName"></label>
                                        <input asp-for="Input.LastName" class="form-control" maxlength="100" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                            <label asp-for="Input.UserName"></label>
                                            <input asp-for="Input.UserName" class="form-control" />
                                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                        </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.ConfirmPassword"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </form>
                            </div>
                            <div class="col-md-6 col-md-offset-2">
                                <section>
                                    <h4>Use another service to register.</h4>
                                    <hr />
                                    @{ if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div> }
                        else
                        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>}
                    </p>
                </div>
            </form> } }
                                </section>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <script src="~/js/login_proStore.js"></script>*@










    @*<h1>@ViewData["Title"]</h1>*@
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">

                <!--register form-->
                <form asp-route-returnUrl="@Model.ReturnUrl" class="sign-in-form" id="account" method="post">



                    <div asp-validation-summary="All" class="text-danger"></div>
                    <h2 class="title">إنشاء حساب</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <div>
                            <br class="brr"  />
                             <label>الإسم الأول</label>
                             <input asp-for="Input.FirstName" class="form-control" id="register_user" />
                             <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <div>
                            <br class="brr" />
                            <label>الإسم الأخير</label>
                            <input asp-for="Input.LastName" class="form-control" id="register_user" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <div>
                            <br class="brr" />
                            <label>البريد الإلكتروني</label>
                            <input asp-for="Input.Email" class="form-control" id="email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <div>
                            <br class="brr" />
                            <label>الرمز السري</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger" id="register_password"></span>
                        </div>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <div>
                            <br class="brr" />
                            <label>تأكيد الرمز السري</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger" id="register_password"></span>
                        </div>
                    </div>
                    

                    <p class="choice_text">
                        :اختر ماذا تريد أن تكون
                    </p>
                    <div class="choice_container">
                        <label >
                            بائع
                            <input type="checkbox" asp-for="Input.check"  >
                            <span class="checkmark"></span>

                        </label>
                        <label >
                            مشتري

                            <input type="checkbox" name="radio" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        @*<label class="choice">
                            كليهما
                            <input type="checkbox" asp-for="check" name="radio" >
                            <span class="checkmark"></span>

                        </label>*@

                    </div>






                    <button type="submit" class="btn btn-primary" id="sign_up" hidden>تسجيل جديد</button>
                    <button type="submit" class="btn btn-primary">تسجيل جديد</button>




                </form>







                
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    
                    @{ if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                        }
                       else{
                       <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                     @foreach (var provider in Model.ExternalLogins){
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>}
                                </p>
                            </div>
                       </form> } }
                </section>
            </div>
        </div>


        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>هل لديك حساب من قبل ؟</h3>
                    <p>
                        إذا كان لديك حساب علي موقعنا الإلكتروني يمكنك تسجيل الدخول من هنا
                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" style="color:white">تسجيل الدخول</a>
                    </button>
                </div>
                <img src="~/lib/Images/بوابة المزرعة.png" class="image" alt="" />
            </div>
            
        </div>
    </div>

    <script src="~/js/login_proStore.js"></script>


</body>
</html>
@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@





